<html>
<head>
  <style>
  body {
      color: red;
  }

  h1 {
      color: #00ff00;
  }

  p.ex {
      color: rgb(0,0,255);
  }
  </style>
  <!-- Latest compiled and minified CSS -->

</head>

<body>
  <div class = "container">
    <div class="jumbotron">
<h1><%=@outPhrase%></h1><br>
<img src ="http://lorempixel.com/400/200/">
<br><br><p>
<a href="https://www.google.com/webhp?hl=en&q=<%=@outPhrase%>" target="_blank">google it</a>
</p>
</div>
</body>
</html>
